node_modules/
model-viewer.min.js
model-viewer.module.js
model-viewer.umd.js
model-viewer-effects.js
model-viewer-effects.umd.js
package.json
package-lock.json
# video2.mp4 is too large (70MB) for GitHub
video2.mp4
